body {
  margin: 0;
  padding: 0;
}

.main-poster {
  height: 87vh;
  width: auto;
  background-image: url("../assets/expo.webp");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
.second-poster-image {
  width: 99.15vw;
  height: 70vh;
}
