/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
.whole{
    background-color:#eaf0f2;
    margin:0;
}
.slide{
    margin-left:20px;
}
.heading{
    text-align:center;
    align-items: center;
    font-size:50px;
    font-family: 'Raleway', sans-serif;
}
.heading:hover{
    transform: scale(1.5);
  transition: all 0.3s ease-in-out 0.1s;
  color:cornflowerblue;
}
.big{
    display:flex;
}

.writing{
    width:80vw;
    margin-left:20px;
    font-family: 'Libre Baskerville', serif;
    line-height:1.4;
    word-spacing:2px;
}
.slide:hover{
  color:#7f98bb;
}
.set{
    width:20vw;
    margin-left: 30px;
    margin-top:25px;
}
.fix{
    width:300px;
    height:330px;
    border-radius: 5px;;
}


