body{
    background: linear-gradient(#141e30, #243b55);
}
.fill{
    height:635px;
    width:1525.5px;
    object-fit: cover;
}
.main{
    display: flex;
    
}
.in{
    width:40vw;
    background-color: black;
    height:80vh;
}
.j{
    color:#167c9f;
    text-align: center;
}
.a{
    color:white;
    text-align: center;
    font-family: Helvetica,Arial;
    
}
.in1{
    width:60vw;
    background-color: aqua;
    height:80vh;
}
.sd{
    background-color: rgb(14, 13, 13);
}
.gt{
    text-align: center;
    color:white;
    font-size: 80px;
     font-family: Helvetica,Arial;
}
.c{
    text-align: center;
    font-size: 19px;
    color:white;
    padding:60px;
    font-family:Helvetica,Arial;
}
.h{
    height:90px;
    width:90px;
}
.p{
    display: flex;
    justify-content: center;
    gap: 10px;
}


